body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    animation: swirlBackground .005s infinite linear;

}

img {
    padding: 30px;
    height: auto;
    display: block;
    margin: 0 auto;
}

video {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.fuckinnice {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fuckyeah {
    background-color: red;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes swirlBackground {
    0% {
        background: radial-gradient(circle at center, #ff0000, #00ff00, #0000ff);
    }
    50% {
        background: radial-gradient(circle at center, #00ff00, #0000ff, #ff0000);
    }
    100% {
        background: radial-gradient(circle at center, #0000ff, #ff0000, #00ff00);
    }
}